/bin/.local/share
/bin/.local/state
/bin/.local/bin/geomiq
/bin/.local/bin/toolbox
/bin/.local/bin/phpstorm
/nvim/.config/nvim/plugin
/ranger/.config/ranger/colorschemes/__pycache__
/bashtop/.config/bashtop/error.log
